# Other Environment Settings
REACT_EDITOR=vscode # cursor, vscode, atom, sublime, etc.
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1
USE_MOCKS=false

# API Configuration
# MAKE YOUR LIFE EASIER AND USE HTTPS
# /etc/hosts
# 127.0.0.1 architex-api.mydom.com
# 127.0.0.1 architex-web.mydom.com
# pnpm run dev-https && dotnet run --project backend/src/Web/Web.csproj

# NEXT_PUBLIC_API_BASE_URL=https://localhost:5142  # Development API URL
NEXT_PUBLIC_API_BASE_URL=https://architex-api.mydom.com:5142
# NEXT_PUBLIC_API_BASE_URL=https://api.yourdomain.com  # Production API URL
NEXT_PUBLIC_COOKIE_DOMAIN=mydom.com # Should match the domain set in the backend
NEXT_PUBLIC_AUTH_COOKIE_NAME=AspNetCoreIdentityApplication
